@charset "UTF-8";
/*
WYSIWYGエディタ「 TinyMCE 」のエディタ画面のスタイルシート
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
INDEX

#A001 外部ファイルの読み込み
#A002 リセットCSS と サイトの初期設定
#A003 WYSIWYGエディタ「 TinyMCE 」の設定

┌─────────────────────────────
│ #A001 外部ファイルの読み込み
│ 
*/
/*note: INDEXの表示は、コメントの「 index: 」でハイライト表示してください。*/
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*index: 外部フォントCSSファイルの読み込み*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*index: リセットCSS と body要素の文字（色・書体）と背景色*/
/* Body要素の背景色 */
/* Body要素の文字色 */
/* Body要素の書体 */
/* リセット用のプレイスフォルダ */
body.editor-area div,
body.editor-area span,
body.editor-area applet,
body.editor-area object,
body.editor-area iframe,
body.editor-area h1,
body.editor-area h2,
body.editor-area h3,
body.editor-area h4,
body.editor-area h5,
body.editor-area h6,
body.editor-area p,
body.editor-area blockquote,
body.editor-area pre,
body.editor-area a,
body.editor-area abbr,
body.editor-area acronym,
body.editor-area address,
body.editor-area big,
body.editor-area cite,
body.editor-area code,
body.editor-area del,
body.editor-area dfn,
body.editor-area em,
body.editor-area font,
body.editor-area ins,
body.editor-area kbd,
body.editor-area q,
body.editor-area s,
body.editor-area samp,
body.editor-area small,
body.editor-area strike,
body.editor-area strong,
body.editor-area sub,
body.editor-area sup,
body.editor-area tt,
body.editor-area var,
body.editor-area dl,
body.editor-area dt,
body.editor-area dd,
body.editor-area ol,
body.editor-area ul,
body.editor-area li,
body.editor-area fieldset,
body.editor-area form,
body.editor-area label,
body.editor-area legend,
body.editor-area table,
body.editor-area caption,
body.editor-area tbody,
body.editor-area tfoot,
body.editor-area thead,
body.editor-area tr,
body.editor-area th,
body.editor-area td, body.editor-area, iflame#content_ifr html {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body.editor-area {
  line-height: 1;
}

body.editor-area, iflame#content_ifr html {
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body.editor-area {
  background-color: #fff;
  color: #000;
}
body.editor-area a {
  color: #000000;
}

body.editor-area {
  font-family: "Noto Sans JP", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

/* リセット処理関数 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*index: メディアクエリー*/
/* 切り替えポイントの設定 */
/* 処理 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*index: クリアフィックス*/
/* Class と ステークホルダー の名称設定 */
/* 処理 */
body.editor-area:after, .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*index: スクリーンリーダー*/
/* スクリーンリーダーテキスト の名称設定 */
/* 処理 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/*
WYSIWYGエディタに関わる部分の設定し、ステークホルダーにてサイトの随所で再利用します。
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
NOTE

・ リセットCSS適用後に再設定するための定義です。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
INDEX

#01 要素の基本定義

	#01-01 Colors
		font-color
		background-color
		background-image
		border-color（ top, right, bottom, left ）

	#01-02 font-family
		font-family
		@include (WebFontの読み込み)

	#01-03 border-style
		border-style

	#01-04 Fonts ( font-color font-family 以外を定義 ) 
		font
		line-height
		…

	#01-03 Box Model (梱包される親の横幅を100％使った時の定義)
		margin
		border-size
		padding
		…

	#01-05 layout
		display
		width
		height
		float
		…

#02 WYSIWYG部分の設定

/*
┌─────────────────────────────
│ #01 要素の基本定義
│ 
*/
body#tinymce.editor-area table, body#tinymce.editor-area dl, body#tinymce.editor-area ol, body#tinymce.editor-area ul, body#tinymce.editor-area p, body#tinymce.editor-area h6, body#tinymce.editor-area h5, body#tinymce.editor-area h4, body#tinymce.editor-area h3, body#tinymce.editor-area h2, body#tinymce.editor-area h1 {
  margin-left: auto;
  margin-right: auto;
}

body#tinymce.editor-area table, body#tinymce.editor-area dl, body#tinymce.editor-area ol, body#tinymce.editor-area ul, body#tinymce.editor-area p, body#tinymce.editor-area h6, body#tinymce.editor-area h5, body#tinymce.editor-area h4, body#tinymce.editor-area h3, body#tinymce.editor-area h2, body#tinymce.editor-area h1 {
  margin-bottom: 32px;
}
@media only screen and (max-width: 640px) {
  body#tinymce.editor-area table, body#tinymce.editor-area dl, body#tinymce.editor-area ol, body#tinymce.editor-area ul, body#tinymce.editor-area p, body#tinymce.editor-area h6, body#tinymce.editor-area h5, body#tinymce.editor-area h4, body#tinymce.editor-area h3, body#tinymce.editor-area h2, body#tinymce.editor-area h1 {
    margin-bottom: 3vw;
  }
}

body#tinymce.editor-area span {
  display: inline;
}

body#tinymce.editor-area h1 {
  font-size: 2.5em;
}

body#tinymce.editor-area h2 {
  font-size: 2em;
}

body#tinymce.editor-area h3 {
  font-size: 1.75em;
}

body#tinymce.editor-area h4 {
  font-size: 1.5em;
}

body#tinymce.editor-area h5 {
  font-size: 1.25em;
}

body#tinymce.editor-area h6 {
  font-size: 1em;
}

body#tinymce.editor-area strong {
  font-weight: bold;
}

body#tinymce.editor-area img {
  max-width: 100%;
}

body#tinymce.editor-area ul {
  list-style: disc;
}
body#tinymce.editor-area ul ul,
body#tinymce.editor-area ul ol {
  width: auto;
  margin-bottom: 0;
}

body#tinymce.editor-area ol {
  list-style: decimal;
}
body#tinymce.editor-area ol ul,
body#tinymce.editor-area ol ol {
  width: auto;
  margin-bottom: 0;
}

body#tinymce.editor-area li {
  margin-left: 1.5em;
}

/*
┌─────────────────────────────
│ #02 WYSIWYG部分の設定
│ 
*/
/*
┌─────────────────────────────
│ #A002 リセットCSS と WYSIWYGエディタ「 TinyMCE 」の初期設定（文字と背景）
│ 
*/
body.editor-area :focus {
  outline: 0;
}
body.editor-area ol,
body.editor-area ul {
  list-style: none;
}
body.editor-area table {
  border-collapse: separate;
  border-spacing: 0;
}
body.editor-area caption,
body.editor-area th,
body.editor-area td {
  font-weight: normal;
  text-align: left;
}
body.editor-area blockquote:before,
body.editor-area blockquote:after,
body.editor-area q:before,
body.editor-area q:after {
  content: "";
}
body.editor-area blockquote,
body.editor-area q {
  quotes: "" "";
}
body.editor-area a img {
  border: 0;
}
body.editor-area article,
body.editor-area aside,
body.editor-area details,
body.editor-area figcaption,
body.editor-area figure,
body.editor-area footer,
body.editor-area header,
body.editor-area hgroup,
body.editor-area menu,
body.editor-area nav,
body.editor-area section {
  display: block;
}

/*
┌─────────────────────────────
│ #A003 WYSIWYGエディタ「 TinyMCE 」の設定
│ 
*/