@charset "utf-8";
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/*index: ページネーション*/

.pagination{
	.nav-links {
		margin: 2em 0 0;
		text-align: center;
		a,
		span {
			display: inline-block;
			width: 50px;
			line-height: 48px;
			border: 1px solid $vi-main-color;
			margin: 0 5px;
			font-size: 1.1em;
			color: $vi-main-color;
			text-decoration: none;
			@include media(sp) {
				width: 35px;
				line-height: 33px;
				margin: 0;
				font-size: 0.8em;
			}
			&:hover {
				background: $vi-main-color;
				border-color: $vi-main-color;
				color: #fff;
			}
		}
		.current {
			background: $vi-main-color;
			border-color: $vi-main-color;
			color: #fff;
		}
	}
}
