@charset "utf-8";
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/*index: ページタイトル*/

#page-title {
	&-wrapper {
		clear: both;
	}
	background-image: url(../images/bgt-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.title {
		margin-bottom: 0;
		padding: 5em 0;
		text-align: center;
		@include media(sp){
			padding: 4em 0;
		}
	}
	span {
		background: #fff;
		color: #008d3a;
		font-weight: 500;
		display: inline-block;
		line-height: 1;
		padding: 8px 20px 10px;
		@include media(sp){
			padding: 6px 15px 8px;
		}
	}
	.ja {
		font-size: (50/16)+em;
		@media screen and (max-width: 1150px){
			font-size: (40/16)+em;
		}
		@include media(sp){
			font-size: (35/16)+em;
		}
	}
	.en-font {
		font-size: (20/16)+em;
		margin-top: 10px;
		padding: 6px 20px;
		@media screen and (max-width: 1150px){
			font-size: (18/16)+em;
		}
		@include media(sp){
			font-size: (16/16)+em;
			padding: 4px 15px;
		}
	}
	&.bgt2 {
		background-image: url(../images/bgt-2.jpg);
	}
	&.bgt3 {
		background-image: url(../images/bgt-3.jpg);
	}
	&.bgt4 {
		background-image: url(../images/bgt-4.jpg);
	}
	&.bgt5 {
		background-image: url(../images/bgt-5.jpg);
	}
	&.bgt6 {
		background-image: url(../images/bgt-6.jpg);
	}
}
