@charset "utf-8";
/*note: INDEXの表示は、コメントの「 index: 」でハイライト表示してください。*/

#activity {
	&-wrapper {
		overflow: hidden;
		margin-bottom: 6.4rem;
		padding-top: 4.8rem;
		@include media(sp){
			margin-bottom: 3.2rem;
			padding-top: 2.4rem;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	#activity-1 {
		.flex-box {
			flex-wrap: wrap;
			justify-content: space-between;
			.thumb {
				margin-bottom: 2.5%;
				width: 49%;
			}
		}
		.head {
			background: $vi-main-color;
			color: #fff;
			font-size: (18/16)+em;
			padding: 1em 0;
			text-align: center;
			@include media(sp){
				font-size: (15/16)+em;
			}
		}
	}
	#activity-2 {
		.flex-box {
			flex-wrap: wrap;
			justify-content: space-between;
			.thumb {
				margin-bottom: 2.5%;
				width: 49%;
				&:last-child {
					margin-bottom: 0;
				}
			}
			@include media(sp){
				display: block;
				.thumb {
					margin-bottom: 2em;
					width: 100%;
				}
			}
		}
		.head {
			background: $vi-main-color;
			color: #fff;
			font-size: (18/16)+em;
			margin-top: .5em;
			padding: .75em 0;
			text-align: center;
			@include media(sp){
				font-size: (15/16)+em;
			}
		}
	}
}
